<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Cliente</title>
</head>
<body>
   
    <h1>Detalles del Cliente</h1>
    <div>
        <h2>Cliente Seleccionado</h2>
        <p><strong>Nombre:</strong> {{ cliente.nombre }}</p>
        <p><strong>Apellido:</strong> {{ cliente.apellido }}</p>
        <p><strong>Email:</strong> {{ cliente.email }}</p>
        <p><strong>Teléfono:</strong> {{ cliente.telefono }}</p>
    </div>
    